ul.articles
  list-style-type: none
  padding: 0
  li
    color: $article-text
    border-bottom: 1px dashed $article-border
    small
      font-size: 10px
      line-height: 20px
      letter-spacing: 0.77px
      color: $article-date
      span
        color: $article-date-span
        text-transform: uppercase
    &:last-child
      border-bottom: 0
