.case-study
  .case-study-project
    border-bottom: 1px dashed #BBBBBB
    small
      font-family: "Merriweather Sans", sans-serif
      font-size: 10px
      line-height: 30px
      font-weight: 700
      color: #C7C7C7
      text-transform: uppercase
      letter-spacing: 1px
  .case-study-details
    a
      &:link, &:visited, &:active, &:hover, &:focus
        color: #CCA608
        border-bottom: 1px dashed #CCA608
        padding-bottom: 4px
