.case-study
  margin: 20px 0 40px
  .case-study-project
    margin-top: 20px
    border-bottom: 1px dashed #BBBBBB
    small
      font-family: "Merriweather Sans", sans-serif
      font-size: 10px
      line-height: 20px
      font-weight: 700
      color: $case-study-title
      text-transform: uppercase
      letter-spacing: 1px
  .case-study-details
    margin-top: 15px
    a
      &:link, &:visited, &:active, &:hover, &:focus
        color: $case-study-link
        border-bottom: 1px dashed $case-study-border
        padding-bottom: 4px
    p.emphasis
      margin: 0
