.case-study
  margin: 20px 0 40px
  .case-study-project
    margin-top: 20px
    border-bottom: 1px dashed $case-study-project-border
    p
      margin-top: 0
  .case-study-details
    margin-top: 15px
    a
      &:link, &:visited, &:active
        color: $link-emphasis
        border-bottom: 1px dashed $link-emphasis
        padding-bottom: 4px
      &:hover, &:focus
        color: darken($link-emphasis, 10%)
        border-bottom: 1px dashed darken($link-emphasis, 10%)
    p.emphasis
      margin: 0
