*
  box-sizing: border-box
  &:after, &:before
    box-sizing: border-box

body
  -webkit-text-size-adjust: none
  height: 100%
  border: solid $body-border
  border-width: 6px 0 6px 0

h1
  font-size: 32px
  line-height: 44px
  font-weight: 300
  margin: 0 0 20px
  span
    color: $h1-span

h2
  font-size: 30px
  line-height: 37px
  font-weight: 700

h3
  font-size: 24px
  line-height: 37px
  font-weight: 700

h5
  font-size: 18px
  line-height: 32px
  font-weight: 700

a
  &:link, &:visited, &:active, &:hover, &:focus
    font-weight: 400
    text-decoration: none
    +transition(all 0.1s ease-in)

p
  font-size: 16px
  line-height: 30px
  margin: 0 0 15px
  a
    &:link, &:visited, &:active, &:hover, &:focus
      color: $p-link
      border-bottom: 1px dashed $p-link
      padding-bottom: 4px
  &.intro
    font-size: 18px
    line-height: 32px
    color: $p-intro
    a
      &:link, &:visited, &:active, &:hover, &:focus
        color: $p-intro-link
        border-bottom: 1px dashed $p-intro-link
        padding-bottom: 4px
  &.emphasis
    font-weight: 300
    font-style: italic
    font-size: 20px
    line-height: 34px
    color: $p-emphasis
    margin: 25px 0 38px

em
  font-style: italic

strong
  font-weight: 700

small
  &.author
    font-family: "Merriweather Sans", sans-serif
    font-size: 12px
    line-height: 30px
    font-weight: 700
  &.date
    font-size: 10px
    line-height: 20px
    letter-spacing: 0.77px
    color: $small-date
    span
      color: $small-date-span
      text-transform: uppercase

q
  font-weight: 300
  font-style: italic
  font-size: 20px
  line-height: 34px
  color: $quote
  display: block
  margin: 25px 0 38px

blockquote
  font-size: 20px
  line-height: 37px
  font-weight: 700
  border-left: 3px solid $blockquote-border-left
  margin: 10px 0
  padding-left: 30px

img
  max-width: 100%
  height: auto

ul
  padding-left: 20px
  li
    color: #cca608
    margin: 15px 0
    span
      color: #6b6661
      line-height: 30px

body.writing
  ul
    list-style-type: none
    padding: 0
    li
      color: #6b6661
