*
  box-sizing: border-box
  &:after, &:before
    box-sizing: border-box

body
  -webkit-text-size-adjust: none
  height: 100%
  border-top: 6px solid #CCA608
  border-bottom: 6px solid #CCA608

h1
  font-size: 32px
  line-height: 44px
  font-weight: 300
  span
    color: #CCA608

h2

a
  &:link, &:visited, &:active, &:hover, &:focus
    font-weight: 400
    text-decoration: none
    +transition(all 0.1s ease-in)

p
  font-size: 16px
  line-height: 30px
  color: #6B6661
  a
    &:link, &:visited, &:active, &:hover, &:focus
      color: #979797
      border-bottom: 1px dashed #979797
      padding-bottom: 4px
  &.intro
    font-size: 18px
    line-height: 32px
    color: #979797
    a
      &:link, &:visited, &:active, &:hover, &:focus
        color: #6B6661
        border-bottom: 1px dashed #6B6661
        padding-bottom: 4px

q
  font-weight: 300
  font-style: italic
  font-size: 20px
  line-height: 34px
  color: #CCA608
  &:before, &:after
    content: ""

img
  max-width: 100%
  height: auto
  &.signature
    display: block
    margin: 43px 0 46px

ul
  list-style: none
