input
  &:focus
    outline: 0
    border: 1px solid $form-input-focus-border

form
  margin-top: 20px
  .feedback
    display: none
    text-align: center
    margin: 60px auto
  input
    font-family: "Merriweather", sans-serif
    background-color: $form-input-bg
    height: 56px
    border-radius: 3px
    text-indent: 20px
    font-size: 15px
    border: 1px solid $form-input-border
    width: 100%
    +appearance(none)
    box-sizing: border-box
    &.button
      clear: both
      height: 58px
      border: 0
      border-radius: 29px
      background-color: $button-bg
      color: $button-text
      margin: 0 auto
      width: 100%
      text-indent: 0
      display: block
      +min-width(480px)
        width: 305px
      &:hover
        background-color: $button-bg-hover
        +transition(all 0.1s ease-in)
    &.error
      border: 1px solid $form-input-error-border
  &.success
    input
      display: none
    .feedback
      display: block

  .column
    float: left
    margin-bottom: 20px
    &.column_first_name
      width: 100%
      +min-width(560px)
        width: 218px
        margin-right: 20px
    &.column_email
      width: 100%
      +min-width(560px)
        width: calc(100% - 238px)
    span.error
      color: $form-error-text
      font-size: 10px
      line-height: 17px
      font-style: italic
      text-transform: lowercase
