input
  &:focus
    outline: 0
    border: 1px solid $form-input-focus-border

form
  margin-top: 20px
  input
    font-family: "Merriweather", sans-serif
    background-color: $form-input-bg
    height: 56px
    border-radius: 3px
    text-indent: 20px
    font-size: 15px
    border: 1px solid $form-input-border
    +appearance(none)
    box-sizing: border-box
    &.name
      width: 100%
      float: left
      margin-bottom: 20px
      +min-width(560px)
        max-width: 218px
        margin-right: 20px
    &.email
      width: 100%
      +min-width(560px)
        width: calc(100% - 238px)
    &.button
      height: 58px
      border: 0
      border-radius: 29px
      background-color: $button-bg
      color: $button-text
      margin: 30px auto 0
      width: 100%
      text-indent: 0
      display: block
      +min-width(480px)
        width: 305px
      &:hover
        background-color: $button-bg-hover
        +transition(all 0.1s ease-in)
