%footer
	.container
		.row
			.col-md-8.col-md-offset-2
				.footer-content
					.footer-avatar
						%img{alt: "Laura Elizabeth", src: "/images/footer/avatar.jpg"}/
					.footer-about
						:markdown
							Laura Elizabeth is a UI/UX designer based in the UK. I work with developers to make their websites look as good as the code behind them.

							Get to know me on [Twitter](http://twitter.com/laurium), view my latest work on [Dribbble](http://dribbble.com/laurium) or start the conversation and [Email Me](mailto:laura@laurium.co.uk).
