%footer
  .container
    .row
      .col-md-8.col-md-offset-2
        .footer-content
          .footer-avatar
            %img{alt: "Laura Elizabeth", src: "/images/footer/avatar.png"}/
          .footer-about
            %p
              Laura Elizabeth is a UI/UX designer based in the UK. I work with developers to make their websites look as good as the code behind them.
            %p
              Get to know me on <a href="http://twitter.com/laurium" target="_blank">Twitter</a>, view my latest work on <a href="http://dribbble.com/laurium" target="_blank">Dribbble</a> or start the conversation and <a href="mailto:laura@laurium.co.uk">Email Me</a>.
