%header
  .container
    .row
      .col-md-12
        .logo
          %a{href: "/"}
            %img{alt: "Laurium Design logo", src: "/images/header/logo.png"}/
        %nav
          %ul
            %li
              %a{href: "/design"} Design
            %li
              %a{href: "/writing"} Writing
            %li
              %a{href: "/case-studies"} Case Studies
            %li
              %a{href: "/newsletter"} Newsletter
            %li
              %a{href: "/contact"} Contact Me
