%header
  .container
    .row
      .col-md-12
        .logo
          %a{href: "/"}
            %img{alt: "Laura Elizabeth logo", src: "/images/header/logo.png"}/
        %nav
          %ul
            %li
              %a{href: "/design", class: page_classes.include?("design") ? "selected" : ""} Design
            %li
              %a{href: "/writing", class: page_classes.include?("writing") ? "selected" : ""} Writing
            %li
              %a{href: "/case-studies", class: page_classes.include?("case-studies") ? "selected" : ""} Case Studies
            %li
              %a{href: "/newsletter", class: page_classes.include?("newsletter") ? "selected" : ""} Newsletter
            %li
              %a{href: "/contact", class: page_classes.include?("contact") ? "selected" : ""} Contact
