---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          See how I have helped others
          %span
            &amp; how I can help you too.
    .case-study
      .row
        .col-md-6.col-md-offset-1
          %a{href: "/case-studies/kiwijar"}
            :plain
              <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="/images/case-studies/kiwijar-thumb.png, /images/case-studies/kiwijar-thumb@2x.png 2x" media="(min-width: 321px)">
                <img srcset="/images/case-studies/kiwijar-thumb-mobile.png, /images/case-studies/kiwijar-thumb-mobile@2x.png 2x" alt="KiwiJar case study">
                <!--[if IE 9]></video><![endif]-->
              </picture>
        .col-md-4
          .case-study-project
            %small.project-header
              Project
            %p
              Web App UI &amp; UX
            %small.project-header
              Company
            %p
              KiwiJar
          .case-study-details
            %p
              KiwiJar is an app that allows people to find & connect with museums that will interest them.
            %a{href: "/case-studies/kiwijar"} View the Case Study
    .case-study
      .row
        .col-md-6.col-md-offset-1
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/lawgap-thumb.png, /images/case-studies/lawgap-thumb@2x.png 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/lawgap-thumb-mobile.png, /images/case-studies/lawgap-thumb-mobile@2x.png 2x" alt="LawGap case study">
              <!--[if IE 9]></video><![endif]-->
            </picture>
        .col-md-4
          .case-study-project
            %small.project-header
              Project
            %p
              Branding & Website Design
            %small.project-header
              Company
            %p
              LawGap
          .case-study-details
            %p
              LawGap helps people who can’t afford legal help understand and navigate the complex market.
            %p.emphasis
              Coming Soon!
