---
changefreq: "monthly"
priority: "1"
---

.individual-case-study
  %section
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1
            Find & Stay Connected to Museums You Love
          %p.intro
            KiwiJar is an app that allows people to find & connect with museums that will interest them. My role in this project was to bring it to life with design, adding in tons of user experience ideas along the way.

  %section.individual-case-study-header.kiwijar

  %section
    .container
      .row
        .col-md-8.col-md-offset-2
          :markdown
            Sometimes when you visit a new place it’s the unexpected gems that you stumble upon that give you the best experiences. Sure, you saw the National Gallery of Art & Design but who’d have thought the Museum of Bad Art (yes that’s the best, worst art) would turn out to be far more entertaining and memorable?

            There are so many Museums in the world that unless you either get lucky or have some insider information you will probably never visit. This is largely because these smaller museums simply don’t have the budget or resources to manage a successful online presence.

            This is what <a href="http://luisbox.com/" target="_blank">Luis Vazquez</a> of <a href="http://kiwijar.com/" target="_blank">KiwiJar</a> has set out to change. KiwiJar’s aim is to level the playing field for museums, helping the smaller ones get noticed while giving more choice to the general public.
        .col-md-2
          .individual-case-study-project
            %small.project-header
              Project
            %p
              Web App UI/UX
            %small.project-header
              Company
            %p
              KiwiJar
            %small.project-header
              URL
            %p
              www.kiwijar.com
            %small.project-header
              Skills
            %p
              User Interface, User Experience, Web Design

  %section
    .container
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-landing-half.jpg, /images/case-studies/kiwijar/kiwijar-landing-half@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-landing-half-mobile.jpg, /images/case-studies/kiwijar/kiwijar-landing-half-mobile@2x.jpg 2x" alt="KiwiJar landing page">
              <!--[if IE 9]></video><![endif]-->
            </picture>

  %section.page-section-small
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2
            Planning & Refining the Idea
          %p
            As KiwiJar is an app that hasn’t been done before, it involved extensive planning to make sure we were including all neccesary features for Phase 1 but not overloading it and taking away from the core message.
          %h4
            The main goals were to:
          %ul
            %li
              %span
                Outline and refine the user experience
            %li
              %span
                Decide upon and eliminate as neccesary the key features for Phase 1
            %li
              %span
                Design a clear and intuative user interface
            %li
              %span
                Produce a future proof style guide (or pattern library) that can be used to develop the project over time

  %section.individual-case-study-caption
    .container
      .row
        .col-md-8.col-md-offset-2
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-user-flow.jpg, /images/case-studies/kiwijar/kiwijar-user-flow@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-user-flow-mobile.jpg, /images/case-studies/kiwijar/kiwijar-user-flow-mobile@2x.jpg 2x" alt="KiwiJar user flow">
              <!--[if IE 9]></video><![endif]-->
            </picture>
        .col-md-2
          %small.caption
            Mapping out the flows of the website was really helpful to understand how different people would interact with the app

  %section
    .container
      .row
        .col-md-8.col-md-offset-2
          %p
            Once we’d worked out the site architecture we were in a much better position to design the rest of the web app with an understanding of how people will arrive at each page and how they are likely to interact with it.
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-landing-page-full.jpg, /images/case-studies/kiwijar/kiwijar-landing-page-full@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-landing-page-full-mobile.jpg, /images/case-studies/kiwijar/kiwijar-landing-page-full-mobile@2x.jpg 2x" alt="KiwiJar landing page">
              <!--[if IE 9]></video><![endif]-->
            </picture>
      .row
        .col-md-8.col-md-offset-2
          %h2
            Embracing Personalities
          %p
            One of the main features of KiwiJar is the ability to sort Museums and interests into Jars (aka groups). We have 8 Jars in total which covers pretty much every type of museum we have come across from Art Lovers to Unique People.
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-categories.jpg, /images/case-studies/kiwijar/kiwijar-categories@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-categories-mobile.jpg, /images/case-studies/kiwijar/kiwijar-categories-mobile@2x.jpg 2x" alt="KiwiJar categories">
              <!--[if IE 9]></video><![endif]-->
            </picture>
      .row
        .col-md-8.col-md-offset-2
          %p
            Because people are more complex than that, we wanted to find a visual way to embrace the differet personalities of everyone on the website. This is why we have made everyones avatar automatically show the colours of the Jars they have selected as their interests.
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-avatars.jpg, /images/case-studies/kiwijar/kiwijar-avatars@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-avatars-mobile.jpg, /images/case-studies/kiwijar/kiwijar-avatars-mobile@2x.jpg 2x" alt="KiwiJar avatars">
              <!--[if IE 9]></video><![endif]-->
            </picture>
      .row
        .col-md-8.col-md-offset-2
          %p
            This means you can see at a glance what people are interested in and also gives people a slightly different take on the traditional avatar.

  %section.page-section-medium
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2
            Encouraging Exploration
          %p
            KiwiJar is an app that is meant to be played with. It needed to be easy for people to not only find something very specific but also to keep exploring and finding some interesting places they may never have come across before.
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-users.jpg, /images/case-studies/kiwijar/kiwijar-users@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-users-mobile.jpg, /images/case-studies/kiwijar/kiwijar-users-mobile@2x.jpg 2x" alt="KiwiJar users">
              <!--[if IE 9]></video><![endif]-->
            </picture>

  %section.page-section-large
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2
            Helping Museums Prosper
          %p
            We also had another aim with this web app. Not only did we want to help people find and connect with Museums they’d enjoy but we wanted to help level the playing field for smaller museums. Giving them an online presence will allow them to reach a wider audience while keeping costs down (as they won’t need to build and manage their own websites).
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-museum.jpg, /images/case-studies/kiwijar/kiwijar-museum@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-museum-mobile.jpg, /images/case-studies/kiwijar/kiwijar-museum-mobile@2x.jpg 2x" alt="KiwiJar museum">
              <!--[if IE 9]></video><![endif]-->
            </picture>

  %section.page-section-medium
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2
            The dashboard has 3 simple goals:
          %ol
            %li
              %span
                A quick at a glance view to see how well the museum is doing during a particular timeframe. This breaks down into profile views, reviews, visits and wish lists so the museum can learn how well they perform during different times of year and during different events.
            %li
              %span
                Reply to reviews quickly and easily. The most recent reviews can be seen right on the dashboard with a field for replying back right there. This means there is no need to load another page just to reply so no time is wasted.
            %li
              %span
                Add events and exhibits. Museums need to show people what they have going on at the moment and what is upcoming. They can add these events from the dashboard.
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/kiwijar-dashboard.jpg, /images/case-studies/kiwijar/kiwijar-dashboard@2x.jpg 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/kiwijar-dashboard-mobile.jpg, /images/case-studies/kiwijar/kiwijar-dashboard-mobile@2x.jpg 2x" alt="KiwiJar dashboard">
              <!--[if IE 9]></video><![endif]-->
            </picture>
      .row
        .col-md-8.col-md-offset-2
          %h2
            A great success for both people & museums
          %p
            It’s been an absolute pleasure working on KiwiJar with Luis. The app is currently in development but it’s getting a great response so far.
          %p
            If you’re interested in being one of the first to use the app when it’s live <a href="http://kiwijar.com/" target="_blank">make sure you sign up here.</a>
          %q
            Laura was such a pleasure to work with. She's one of the few designers I know who can create designs that accurately reflect the heart of a project. Her research and thoroughness not only helped in creating the perfect design for KiwiJar but it also helped me envision the small but vital details of my project.
          %small.quote-author
            — Luis Varquez, Founder of KiwiJar

  %section.individual-case-study-contact
    .container
      .row
        .col-md-8.col-md-offset-2
          %p
            Want to work with me?
          %a{href: "mailto:laura@lauraelizabeth.co"} Let's Talk!

  %section.individual-case-study-next
    .container
      .row
        .col-md-4.col-md-offset-2
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/case-studies/kiwijar/lawgap-next.png, /images/case-studies/kiwijar/lawgap-next@2x.png 2x" media="(min-width: 321px)">
              <img srcset="/images/case-studies/kiwijar/lawgap-next-mobile.png, /images/case-studies/kiwijar/lawgap-next-mobile@2x.png 2x" alt="LawGap case study">
              <!--[if IE 9]></video><![endif]-->
            </picture>
        .col-md-4
          %small.project-header
            Fancy Another?
          %p
            Find out how I helped LawGap go from idea to launch. LawGap bridges the gap between real people & the intimidating subject of Law.
          %p.emphasis
            Coming Soon!
