- # Picturefill
:plain
  <script>
    document.createElement( "picture" );
  </script>

- # Getdrip
:plain
  <!-- Drip -->
  <script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};
    _dcs.account = '2660340';

    (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true;
      dc.src = '//tag.getdrip.com/.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
    })();
  </script>
:plain
  <script type="text/javascript" src="https://static.leaddyno.com/js"></script>
  <script>
    LeadDyno.domain = "nusii.com";
    LeadDyno.key = "47539a6bb5de1d142c3ec0e2fe39f46f9758ee15";
    LeadDyno.recordVisit();
    LeadDyno.autoWatch();
  </script>
