%section
  .container
    .row
      .col-md-4.col-md-offset-4
        %img{src: "/images/404/404-houston-we-have-a-problem.png", alt: "Houston, we have a problem"}/
    .row
      .col-md-8.col-md-offset-2
        %h1
          Houston,
          %span
            we have a problem
        %p.intro
          The page you are looking for seems to have entered a wormhole. It might be time to abort this mission and <a href="/">go back home</a>.
