---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          See how I have helped others
          %span
            &amp; how I can help you too.
    .case-study
      .row
        .col-md-6.col-md-offset-1
          %img{alt: "KiwiJar case study", src: "/images/case-studies/kiwijar-thumb.png"}/
        .col-md-4
          .case-study-project
            %small
              Project
            %p
              Web App UI &amp; UX
            %small
              Company
            %p
              KiwiJar
          .case-study-details
            %p
              KiwiJar is an app that allows people to find & connect with museums that will interest them.
            %a{href: "#"} View the Case Study
    .case-study
      .row
        .col-md-6.col-md-offset-1
          %img{alt: "KiwiJar case study", src: "/images/case-studies/lawgap-thumb.png"}/
        .col-md-4
          .case-study-project
            %small
              Project
            %p
              Branding & Website Design
            %small
              Company
            %p
              LawGap
          .case-study-details
            %p
              LawGap helps people who can’t afford legal help understand and navigate the complex market.
            %p.emphasis
              Coming Soon!
