---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Questions, advice or just want to chat?
          %span
            Let's get the conversation started!
        %p.intro
          The best part about my job is being able to get to know so many fantastic people. If you’re a developer struggling with design and have a question please feel free to <a href="mailto:laura@laurium.co.uk">Email Me</a>.
        %a.button{href: "mailto:laura@laurium.co.uk"} Email Me

%section.page-section-medium
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          Want to work with me?
        %blockquote
          I currently have a waiting list of 4-6 weeks so if you're keen to get started make sure you get signed up as soon as possible.
        :markdown
          If you’re ready to dive into a project or just want to find out a bit more about what you can expect working with me enter your name and email into the form below and I'll send you a **Getting Started PDF** with information on the process, turnaround times and pricing.

          *(Don't worry, you won't be signed up to a mailing list - you can find that here - and your details will not be shared with anyone. Ever.)*

          Then I'll get you to fill in your very own Project Planner which will help me get to know you, your business and mostly importantly you goals and we can schedule a one-on-one session to delve a bit deeper and get the process started!

        %form.drip_form{data: {"campaign-id" => '5834147'}}
          .column.column_first_name
            %input.first_name{name: "fields[first_name]", placeholder: "Your first name", type: "text", value: ""}/
          .column.column_email
            %input.email{name: "fields[email]", placeholder: "Your best email address", type: "email", value: ""}/
          .clear
            %input.button{"data-drip-attribute" => "sign-up-button", name: "submit", type: "submit", value: "Let's get the party started!"}/
