---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Beautiful designs that are easy to implement & help you
          %span
            stand out from the crowd.
    .row
      .col-md-10.col-md-offset-1
        %img{alt: "Design work for LawGap", src: "/images/design/imac-lawgap.png"}/
    .row
      .col-md-8.col-md-offset-2
        %h4
          So, you're amazing at code but fall short when it comes to the dreaded 'creative bit'?
        %h4
          Or maybe you've worked with designers in the past and translating their designs to workable, usable websites has been nothing short of a nightmare.
        %p
          Wouldn't it be nice if you could work with somebody who is not only well versed in beautiful design but also appreciates and understands how the web works.
        %p
          I'm Laura Elizabeth and that bit above, that's me! I'm a designer who likes to do things a bit differently. I love working with talented developers and entrepreneurs, helping to craft their ideas into great looking, well considered designs.
        %q
          Laura's results were brilliant. She managed to capture the essense of our company and our values, whilst creating a design that works aesthetically aswell.
        %small.quote-author
          ― Zoe Olivier John, Engage By Design
        %h2
          Bring Your Ideas To Life
        %p
          I typically work on designs and experiences for websites and web apps. This can incompass anything from a full brand identity and web package to a redesign of a current product.
        %blockquote
          Good design is no longer reserved for the large, multinational companies like Apple or Google. Increasingly startups are utilising the power of design to set themselves apart and get people engaged.
        %h4
          If you've got an appreciation for good quality design and want to:
        %ul
          %li
            %span
              Set yourself apart from your competitors with an attractive, modern website.
          %li
            %span
              Encourage users to not only visit your site, but spend time browsing, coverting and coming back
          %li
            %span
              Be proud of your website and not apologise when giving out your URL (we've all done it!)
        %p
          Then I'll use my 8+ years of experience to not only bring your companies image to life, but offer advice on style, functionality and even copy writing throughout the process.
        %p
          What you'll be left with is a website that you can be confident will not only look fantastic, but will work like a dream and achieve specific, measurable goals.
        %h2
          See What I'm Currently Working On
        :markdown
          For my latest work (including Work In Progress) check out my shots from the design community [Dribbble](http://dribbble.com/laurium). I try to keep this updated as often as possible.

%section.dribbble
  .container
    .row
      .col-md-12
        .dribbble-feed

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          Want a bit more detail? Take a look at my
          %a{href: "/case-studies"} selected case studies
          to see how a project works from start to finish.
        %h2
          Are We a Perfect Match?
        %p.intro
          If you've made it this far then I salute you! Before we go any further though let me just tell you about the kind of companies I can help.
        %p
          I provide the most value to start-ups, developers & entrepreneurs who are passionate about their product or service and appreciate all the subtle details that can take a design from just good enough to outstanding.
        %p
          Whereas I don't provide any coding for my designs, I do have a lot of experience working with developers. I know how websites are created and the assets you need for a flexible and future-proof solution.
        %p
          With all of my projecs I work towards creating a full style guide that will have every reusable asset used in the design. So if you need to add a new page or feature in the future, you will have everything you need to keep your website updated.
        %h2
          Let's Work Together!
        %p
          If the above sounds like you then I would love to hear from you.
        %blockquote
          I currently have a waiting list of 4-6 weeks so if you're keen to get started make sure you get signed up as soon as possible.
        :markdown
          To get started simple enter your name and email into the form below and I'll send you a **Getting Started** PDF with information on the process, turnaround times and pricing.

          *(Don't worry, you won't be signed up to a mailing list - you can find that [here](/newsletter) - and your details will not be shared with anyone. Ever.)*

          Then I'll get you to fill in your very own Project Planner which will help me get to know you, your business and mostly importantly you goals and we can schedule a one-on-one session to delve a bit deeper and get the process started!
        %form
          %input.required.name{name: "FNAME", placeholder: "Your first name", type: "text", value: ""}/
          %input.required.email{name: "EMAIL", placeholder: "Your best email address", type: "email", value: ""}/
          %input.button{name: "subscribe", type: "submit", value: "Grab your Getting Started PDF"}/
