---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Beautiful designs that are easy to implement & help you
          %span
            stand out from the crowd.

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %img.centered{src: "/images/design/workspace.png", alt: "Laura's workspace"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          So, you're amazing at code but fall short when it comes to the dreaded 'creative bit'?
        %h4
          Or maybe you've worked with designers in the past and translating their designs to workable, usable websites has been nothing short of a nightmare.
        %p
          Wouldn't it be nice if you could work with somebody who is not only well versed in beautiful design but also appreciates and understands how the web works.
        %p
          I'm Laura Elizabeth and that bit above, that's me! I'm a designer who likes to do things a bit differently. I love working with talented developers and entrepreneurs, helping to craft their ideas into great looking, well considered designs.
        %q
          &ldquo;Laura's knowledge of the development process made my job a lot easier. The pattern library she provided, gave a great understanding to the primary elements of the design, and ensured consistency. Can't wait to work with her again!
        %small.quote-author
          ― Richard Child, Grid North

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          You'll benefit from my services if:
        %ol
          %li
            %span
              <h4>You need help planning your web app for maximum usability</h4>
              %p Planning a web app can be one of the trickiest parts of the whole project. So many flop due to lack of planning & asking the all-important ‘what if..?’.
              %p I can help pick apart your idea, ask the right questions and bring clarity to everything that is in your head.
              %p We will work together to map out your idea and all of the user journeys across your site. We will compile a feature list and narrow it down into different phases. I will also produce clickable wireframes so we can evaluate how your app will work and solve any unforseen problems before they get serious.
          %li
            %span
              %h4 You need help creative amazing visuals that will appeal to your user base
              %p If your web app has already been finalised or is currently live we can work together to make it look and work like a charm.
              %p I don’t like heavy, bloated code and I’m sure you don’t either. Performance & accessibility are 2 often overlooked traits that I make sure to focus on during the process.
              %p After all, you could have the best looking website in the world but if it’s hard to use you aren’t going to get very far.
          %li
            %span
              %h4 You need actionable, relevant advice that you can impliment yourself
              %p If the above sounds like too much for your current needs I also offer design consulting.
              %p These are perfect if you already have a website or web app up and running but you want an expert to give you actionable advice on ways to improve both your design and user experience.
              %p You’ll get a one hour strategy call with myself followed by an extensive document detailing areas for improvement and a mixture of small, immediate changes plus larger long term changes you can make to help you grow.

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          See What I'm Currently Working On
        %p
          For my latest work (including Work In Progress) check out my shots from the design community <a href="http://dribbble.com/laurium" target="_blank">Dribbble</a>. I try to keep this updated as often as possible.

%section.dribbble
  .container
    .row
      .col-md-12
        .dribbble-feed

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          Want a bit more detail? Take a look at my
          %a{href: "/case-studies"} selected case studies
          to see how a project works from start to finish.

%section.page-section-large
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          Are We a Perfect Match?
        %p.intro
          I’m stoked you’ve made it this far down the page! Now let’s get to the nitty-gritty about the kind of people I work with.
        %p
          I provide the most value to developers & their clients who are passionate about their product or service and appreciate all the subtle details that can take a design from just good enough to outstanding.
        %p
          Whereas I don't provide any coding for my designs (you’re the expert there), I do have a lot of experience working with developers. I know how websites are created and the assets you need for a flexible and future-proof solution.
        %p
          With all of my projecs I work towards creating a full style guide that will have every reusable asset used in the design. So if you need to add a new page or feature in the future, you will have everything you need to keep your website updated.
        %p
          And all those little extras like retina images, mobile assets & favicons? <strong>I got it covered.</strong>
        %q
          There are plenty of designers out there but very few of them can work alongside a developer with such harmony and still create outstanding designs like Laura. If you get a chance to work with her, make sure to take it. You’ll be thrilled.
        %small.quote-author
          ― Luis Vazquez, KiwiJar

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          Let's Work Together!
        %p
          If the above sounds like you then I would love to hear from you.
        %blockquote
          I currently have a waiting list of 4-6 weeks so if you're keen to get started make sure you get signed up as soon as possible.
        :markdown
          To get started simple enter your name and email into the form below and I'll send you a **Getting Started** PDF with information on the process, turnaround times and pricing.

          *(Don't worry, you won't be signed up to a mailing list - you can find that [here](/newsletter) - and your details will not be shared with anyone. Ever.)*

          Then I'll get you to fill in your very own Project Planner which will help me get to know you, your business and mostly importantly you goals and we can schedule a one-on-one session to delve a bit deeper and get the process started!
        %form.drip_form{data: {"campaign-id" => '5834147'}}
          .feedback
            %h1
              %span
                Woohoo!
            %p.intro
              Your getting started PDF is on it’s way to your email inbox. I’m super excited to hear about your project!
          .column.column_first_name
            %input.first_name{name: "fields[first_name]", placeholder: "Your first name", type: "text", value: ""}/
          .column.column_email
            %input.email{name: "fields[email]", placeholder: "Your best email address", type: "email", value: ""}/
          .clear
            %input.button{"data-drip-attribute" => "sign-up-button", name: "submit", type: "submit", value: "Grab your Getting Started PDF"}/
