---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          I'm Laura Elizabeth, a designer, writer, speaker and cross stitch addict.
          %span
            Welcome to my slice of the web.
        %p.intro
          If you're looking to hire a visual designer for your web project <a href="http://laurium.co.uk" target="blank">you might be better off here.</a> For everything else, read on.

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %img.centered{src: "/images/home/workspace.png", alt: "Laura's workspace"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          I've been making a living as a designer since around 2011. Since then I've been lucky enough to work with some great companies and even greater people.
        %p
          Now you can find me
          %a{href: "/writing"} writing,
          %a{href: "/design"} speaking
          and <a href="http://www.designacademy.io" target="_blank">teaching</a> design to developers and other cool people who make stuff.
        %p.emphasis
          Whatever you're looking for let me help you make the web a better (designed) place!
        %img.signature{src: "/images/home/signature.png", alt: "Laura Elizabeth's signature"}/