---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Clean & Functional Web Apps Designed for
          %span
            Developers & Creative People with Great Ideas
        %p.intro
          I also write a
          %a{href: "/newsletter"} fortnightly newsletter
          helping developers beautify their websites with good design.

%section.dribbble
  .container
    .row
      .col-md-12
        .dribbble-feed
        %small.caption
          Latest Snippets from Dribbble.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          If you’re interested in hiring a design professional for your new or existing web app
          %a{href: "/design"} find out more about how I can help you here.
        %p
          Or if you’re not quite ready to invest in a designer and would like to give it a go for yourself, I’ve put together a ton of free resources that can help you create professional and beautiful interfaces over at the
          %a{href: "/newsletter"} Design School.
        %p.emphasis
          Whatever stage you’re at in your project let me help you make the web a better (designed) place!
        %img{alt: "Laura Elizabeth's signature", src: "/images/home/signature.png"}/
