---
changefreq: "monthly"
priority: "1"
---

%section
	.container
		.row
			.col-md-8.col-md-offset-2
				%h1
					Clean & Functional Web Apps Designed for
					%span
						Developers & Creative People with Great Ideas
				%p.intro
					I also write a
					%a{href: "#"} fortnightly newsletter
					helping developers beautify their websites with good design.

%section
	.container
		.row
			.col-md-12
				.dribbble-feed

%section
	.container
		.row
			.col-md-8.col-md-offset-2
				%p
					If you’re interested in hiring a design professional for your new or existing web app
					%a{href: "#"}	find out more about how I can help you here.
				%p
					Or if you’re not quite ready to invest in a designer and would like to give it a go for yourself, I’ve put together a ton of free resources that can help you create professional and beautiful interfaces over at the
					%a{href: "#"}	Design School.
				%q Whatever stage you’re at in your project let me help you make the web a better (designed) place!

