---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Clean & Functional Web Apps Designed for
          %span
            Developers & Creative People with Great Ideas

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %img.centered{src: "/images/design/workspace.png", alt: "Laura's workspace"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          So, you're amazing at code but fall short when it comes to the dreaded 'creative bit'?
        %h4
          Or maybe you've worked with designers in the past and translating their designs to workable, usable websites has been nothing short of a nightmare.
        %p
          Wouldn't it be nice if you could work with somebody who is not only well versed in beautiful design but also appreciates and understands how the web works.
        %p
          I'm Laura Elizabeth and that bit above, that's me! I'm a designer who likes to do things a bit differently. I love working with talented developers and entrepreneurs, helping to craft their ideas into great looking, well considered designs.
        %q
          Laura's knowledge of the development process made my job a lot easier. The pattern library she provided, gave a great understanding to the primary elements of the design, and ensured consistency. Can't wait to work with her again!
        %small.quote-author
          ― Richard Child, Grid North


%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          If you’re interested in hiring a design professional for your new or existing web app
          %a{href: "/design"} find out more about how I can help you here.
        %p
          Or if you’re not quite ready to invest in a designer and would like to give it a go for yourself, I’ve put together a ton of free resources that can help you create professional and beautiful interfaces over at the
          <a href="http://www.designacademy.io" target="_blank">Design Academy.</a>
        %p.emphasis
          Whatever stage you’re at in your project let me help you make the web a better (designed) place!
        %img.signature{src: "/images/home/signature.png", alt: "Laura Elizabeth's signature"}/
