---
changefreq: "monthly"
priority: "1"
---

%section
	.container
		.row
			.col-md-8.col-md-offset-2
				%h1
					Clean & Functional Web Apps Designed for
					%span
						Developers & Creative People with Great Ideas
				%p.intro
					I also write a fortnightly newsletter helping developers beautify their websites with good design.
