---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          I'm Laura Elizabeth, a designer, writer, speaker and cross stitch addict.
          %span
            Welcome to my slice of the web.
        %p.intro
          When I'm not <a href="http://www.designacademy.io" target="blank">teaching developers design</a> or working on my <a href="http://www.client-portal.io" target="blank">client management product,</a> you can find me writing, speaking or watching Star Trek (Voyager or TNG, since you asked).

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %img.centered{src: "/images/home/workspace.png", alt: "Laura's workspace"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          I've been making a living as a designer since around 2011. Since then I've been lucky enough to work with some great companies and even greater people.
        %p
          These days I mostly work on products but now and again I take on design projects. Some are just too much fun to pass up!
        %p.emphasis
          However you landed here, I hope you enjoy looking around. Feel free to reach out if you have a question or just want to say hey. I kinda like hearing from people, especially you. 
        %img.signature{src: "/images/home/signature.png", alt: "Laura Elizabeth's signature"}/