---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Make Your Websites Look
          %span
            As Good As The Code Behind Them
        %h4
          Have you ever:
        %ul
          %li
            %span
              Written an application and wished it just looked a little better?
          %li
            %span
              Been able to acknowledge good design on other websites but can’t quite translate that to your own designs?
          %li
            %span
              Felt like you’re taking a stab in the dark when choosing colours, fonts or other design elements?
        %p
          Design in general is often seen as a bit ‘up in the air’, sometimes arty and often pretentious. 
        %p
          Design for the web is surprisingly logical and most importantly, measurable.  
        %p
          In this crash course I will teach you the basics of design presented in a no-fluff kind of way. You will learn what seperates good design from the bad (and how simple it is to turn one into the other) plus how to aviod the most common pitfalls in design.

%section.newsletter-signup
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          In this 5 part email course you will learn:
    .row
      .col-md-3.col-md-offset-2
        :plain
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/images/newsletter/designing-interfaces.png, /images/newsletter/designing-interfaces@2x.png 2x" media="(min-width: 321px)">
            <img srcset="/images/newsletter/designing-interfaces-mobile.png, /images/newsletter/designing-interfaces-mobile@2x.png 2x" alt="Designing Interfaces course">
            <!--[if IE 9]></video><![endif]-->
          </picture>
      .col-md-5
        %ul
          %li
            %span
              <span style="color: #CCA608">Lesson 1:</span> How to actually start a design & never face ‘blank calvas syndrome’ again.
          %li
            %span
              <span style="color: #CCA608">Lesson 2:</span> Choosing & using fonts and a few simple hacks that can make you look like a typographic pro. 
          %li
            %span
              <span style="color: #CCA608">Lesson 3:</span> A practical guide to colour. How to find and combine great colours quickly & easily.
    .row
      .col-md-8.col-md-offset-2
        %ul
          %li
            %span
              <span style="color: #CCA608">Lesson 4:</span> Graphic and image treatments that you can use to unify your design and make it appear as if everything was custom made.
          %li
            %span
              <span style="color: #CCA608">Lesson 5:</span> Tying it all together by fixing the most simple & common mistakes.
        %h4
          Enter your name and email address below & get ready to start designing some awesome web interfaces:
        %form.drip_form{data: {"campaign-id" => '9967536'}}
          .column.column_first_name
            %input.first_name{name: "fields[first_name]", placeholder: "Your first name", type: "text", value: ""}/
          .column.column_email
            %input.email{name: "fields[email]", placeholder: "Your best email address", type: "email", value: ""}/
          .clear
            %input.button{"data-drip-attribute" => "sign-up-button", name: "submit", type: "submit", value: "Send me the first lesson!"}/
