---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Make Your Websites Look
          %span
            As Good As The Code Behind Them
        %h4
          Have you ever:
        %ul
          %li
            %span
              Written an application and wished it just looked a little better?
          %li
            %span
              Been able to acknowledge good design when you see it but can’t quite work out what makes it good?
          %li
            %span
              Felt like you’re taking a stab in the dark when choosing colours, fonts or other design elements?
        %p
          If any (or all) of the above applies to you then I have the newsletter for you!
        %p
          Every fornight (or thereabouts) I share my design secrets to help demystify the creative part of the web for developers.

%section.newsletter-signup
  .container
    .row
      .col-md-8.col-md-offset-2
        %p.emphasis
          Sign up now and get access to my 5 day crash course on the foundations of designing for the web
    .row
      .col-md-3.col-md-offset-2
        %img{src: "/images/newsletter/freebie.png", alt: "Freebie"}/
      .col-md-5
        %ul
          %li
            %span
              Learn what seperates good design from the bad and how to avoid the most common mistakes in design.
          %li
            %span
              Gain practical, actionable tips on topics like typography, colours & grids with none of the fluff
          %li
            %span
              Includes a handy font pairing guide that you can use for all future projects
    .row
      .col-md-8.col-md-offset-2
        %h4
          Enter your name and email address below & look forward to plenty of design goodness every fortnight:
        %form
          %input.required.name{name: "FNAME", placeholder: "Your first name", type: "text", value: ""}/
          %input.required.email{name: "EMAIL", placeholder: "Your best email address", type: "email", value: ""}/
          %input.button{name: "subscribe", type: "submit", value: "Sign Up & Get Your Freebie!"}/
