---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          I love all things design and web related and I really enjoy
          %span
            sharing that passion with others.
        %p.intro
          I speak about all things design, freelance and remote working. Think I'd be a good fit for your conference? <a href="mailto:laura@lauraelizabeth.co?Subject=Wanna%20speak?">Email me!</a>

  %section
    .container
      .row
        .col-md-12
          :plain
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/images/speaking/speaking.png, /images/speaking/speaking@2x.png 2x" media="(min-width: 321px)">
              <img srcset="/images/speaking/speaking-mobile.png, /images/speaking/speaking-mobile@2x.png 2x" alt="Laura Elizabeth speaking at State of the Browser 2015">
              <!--[if IE 9]></video><![endif]-->
            </picture>
        %small.caption
          Laura Elizabeth speaking at State of the Browser 2015

%section.page-section-small
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          Upcoming events
    .row
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "https://doubleyourfreelancing.com/euconf/"} DYFConf Europe
      .col-md-2
        %small.project-header
          Date
        %p
          22-25 June 2016
      .col-md-2
        %small.project-header
          Location
        %p
          Stockholm, Sweden
    .row
      .col-md-8.col-md-offset-2
        %hr
    .row
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "http://lanyrd.com/2016/smashingconf-barcelona/"} SmashingConf Barcelona
      .col-md-2
        %small.project-header
          Date
        %p
          25-26 October 2016
      .col-md-2
        %small.project-header
          Location
        %p
          Barcelona, Spain
    .row
      .col-md-8.col-md-offset-2
        %h2
          Past events
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "https://staffswebmeetup.co.uk/"} Staffs Web Meetup
      .col-md-2
        %small.project-header
          Date
        %p
          19 May 2016
      .col-md-2
        %small.project-header
          Location
        %p
          Stafford, UK
    .row
      .col-md-8.col-md-offset-2
        %hr
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "https://staffswebmeetup.co.uk/"} Digital Croydon
      .col-md-2
        %small.project-header
          Date
        %p
          14 April 2016
      .col-md-2
        %small.project-header
          Location
        %p
          Croydon, UK
    .row
      .col-md-8.col-md-offset-2
        %hr
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "https://nvite.com/CodepenBrum/f415"} Codepen Brum
      .col-md-2
        %small.project-header
          Date
        %p
          2 March 2016
      .col-md-2
        %small.project-header
          Location
        %p
          Birmingham, UK
    .row
      .col-md-8.col-md-offset-2
        %hr
      .col-md-4.col-md-offset-2
        %small.project-header
          Event
        %p
          %a{href: "http://www.stateofthebrowser.com/"} State of the Browser 5
      .col-md-2
        %small.project-header
          Date
        %p
          12 September 2015
      .col-md-2
        %small.project-header
          Location
        %p
          London, UK

%section.page-section-large
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          What you can expect from me as a speaker
        %p.intro
          If you're interested in having me speak to your event, here's what you can expect from me in the run up and during your conference.
        %p
          I'm available before the event to answer any questions or share talk ideas. I'll help promote your event by tweeting about it before and during.
        %p
          You can record my talk, take photos and distribute as you wish. I'll also provide you with my slides and you're free to make them available to anyone.
        %p
          I'll also be available for the full duration of the event and am happy to take part in any extras like panels, Q&A's and most social events.
%section.page-section-large
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          What I need from you
        %p.intro
          There are a few things that you can do to help me to do the best job possible at your event.
        %p
          Because I don't work for a company who can cover costs of me taking part in events, as a minimum I need my travel and accommodation expenses covered. Writing and rehersing talks takes a significant amount of time, so in order for me to keep doing it (and paying the bills) an honorarium is greatly appreciated.
        %p
          It's really important that you have (and enforce) a Code of Conduct at your event. Having a safe and friendly environment to speak in is essential.
        %p
          And finally, the more information you can give me about your event and your audience the better. I do reuse talks but tailor each one to your specific audience.
        %p.emphasis
          So if you think I'd be a good fit for your event, <a href="mailto:laura@lauraelizabeth.co?Subject=Wanna%20speak?">send me an email</a>—I'd love to hear from you!
