---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Thoughts on design
          %span
            published here, there & everywhere
        %p.intro
          This is a collection of some of my favourite (and most useful) posts I’ve written.
          %a{href: "http://medium.com/@laurium", target: "_blank"} Follow me on Medium
          to see the rest.
        %ul.articles
          %li
            %small
              17 April 2015 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/getting-started-with-dashboard-design-505f808cb711", target: "_blank"} Getting Started with Dashboard Design
            %p
              Dashboards are one of the most used pages in any web app. Often it can be tricky to know what needs to go on these pages and, more importantly, what needs to be taken out.
          