---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Thoughts on design
          %span
            published here, there & everywhere
        %p.intro
          This is a collection of some of my favourite (and most useful) posts I’ve written. If you like what you read and want me to write for you, you can <a href="mailto:laura@lauraelizabeth.co?Subject=Guest%20posting">hire me to guest post.</a>
        %ul.articles
          %li
            %small
              5 April 2016 on
              %span
                Smashing Magazine
            %h3
              %a{href: "https://www.smashingmagazine.com/2016/04/web-developer-guide-color/", target: "_blank"} A Simple Web Developer’s Guide To Color
            %p
              A super practical workflow for choosing a color palette for your website. You'll get the color theory—without learning the theory. Try it in your next project!
          %li
            %small
              14 March 2016 on
              %span
                Sitepoint
            %h3
              %a{href: "http://www.sitepoint.com/how-to-collaborate-with-clients-remotely/", target: "_blank"} How to Collaborate with Clients Remotely
            %p
              Remote working is great, you get to skip the commute and work in your pyjamas (if you want). But sometimes it makes working with clients a bit tricky. Find out how you can make the process as smooth as possible.
          %li
            %small
              19 February 2016 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/the-business-case-for-pattern-libraries-b3a921e96996#.bwk5m6702", target: "_blank"} Selling Pattern Libraries to Clients—Part 1
            %p
              For the last few years we’ve been hearing a lot about designing patterns, not pages in web design. But these cost money to create so how can we convince our clients to invest in a style guide?
          %li
            %small
              11 February 2016 on
              %span
                Sitepoint
            %h3
              %a{href: "http://www.sitepoint.com/an-introverts-guide-to-public-speaking/", target: "_blank"} An Introvert’s Guide to Public Speaking
            %p
              Speaking is scary (and mighty hard) but the rewards are incredible. I was extremely <strike>nervous</strike> terrified but I did it and here are 5 lessons I learned along the way.
          %li
            %small
              26 August 2015 on
              %span
                Sitepoint
            %h3
              %a{href: "http://www.sitepoint.com/startup-website-examples/", target: "_blank"} What Makes a Startup Website Great?
            %p
              Startups are taking over the Internet. It’s like we have an idea for everything and a website to go with it. How can you ensure that your startup’s website is a cut above the rest?
          %li
            %small
              4 August 2015 on
              %span
                Sitepoint
            %h3
              %a{href: "http://www.sitepoint.com/taking-guesswork-typography-web/", target: "_blank"} Taking the Guesswork out of Typography on the Web
            %p
              Typography can be tricky. It can also make or break your website. This is an extensive article providing practical tips you can implement instantly to improve your typography.
          %li
            %small
              21 July 2015 on
              %span
                Sitepoint
            %h3
              %a{href: "http://www.sitepoint.com/web-desktop-apps/", target: "_blank"} Should You Develop a Desktop or Web App?
            %p
              It was predicted that native apps would die out. But with the rise of the hybrid, can we now have the best of both worlds? Find out which is best for your product.
          %li
            %small
              6 July 2015 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/getting-started-with-dashboard-design-505f808cb711", target: "_blank"} Getting Started with Dashboard Design
            %p
              Dashboards are one of the most used pages in any web app. Often it can be tricky to know what needs to go on these pages and, more importantly, what needs to be taken out.
          %li
            %small
              7 July 2015 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/the-importance-of-good-feedback-6e975155690e", target: "_blank"} The Importance of Good Feedback
            %p
              When starting out as a designer (or anything) you will always have about 2 years of being an amateur. The simple act of getting feedback can help leap-frog you into the professional world.
          %li
            %small
              7 July 2015 2015 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/why-there-is-no-such-thing-as-being-lucky-2f99782b3db4", target: "_blank"} Why There Is No Such Thing As Being Lucky
            %p
              Some people get all the luck. But do they really? Or do they just have a different outlook on life? I explore a possibility that we are more in control than we think.
          %li
            %small
              7 July 2015 on
              %span
                Medium
            %h3
              %a{href: "https://medium.com/@laurium/my-journey-in-productivity-d6dacf196afe", target: "_blank"} My Journey in Productivity
            %p
              Productivity is a hot topic at the moment and something I’ve been researching & experimenting on. Find out the 4 changes that have significantly increased my productivity this year.
