---
changefreq: "monthly"
priority: "1"
---

%section
	.container
		.row
			.col-md-8.col-md-offset-2
				%h1
					Thoughts on design
					%span
						published here, there & everywhere
				%ul
					%li
						%small.date
							17 April 2015 on
							%span
								Medium
						%h3
							When not to hire a designer
						%p
							Knowing when (and when not) to hire a designer can be crucial to the success of your project. Find out the best time to hire a designer and when it’s best to focus on other things.
