---
changefreq: "monthly"
priority: "1"
---

%section
	.container
		.row
			.col-md-8.col-md-offset-2
				%h1
					Thoughts on design
					%span
						published here, there & everywhere
				%ul.articles
					%li
						%small
							17 April 2015 on
							%span
								Medium
						%h3
							When not to hire a designer
						%p
							Knowing when (and when not) to hire a designer can be crucial to the success of your project. Find out the best time to hire a designer and when it’s best to focus on other things.
					%li
						%small
							16 April 2015 on
							%span
								Medium
						%h3
							4 ways to increase your productivity
						%p
							Productivity is a hot topic at the moment and something I’ve been researching & experimenting on. Find out the 4 changes that have significantly increased my productivity this year.
					%li
						%small
							10 April 2015 on
							%span
								Medium
						%h3
							Colour theory doesn’t make sense. Here’s how to use colour in your designs
						%p
							If you’ve ever struggled to impliment a good colour scheme in your designs why not try a simple trick to not only get great results, but learn some colour theory on the way.
					%li
						%small
							14 March 2015 on
							%span
								Medium
						%h3
							Giving yourself the space to create
						%p
							Paul Jarvis set this writing challenge to encourage people to share how they find the ideal space to create. Here’s mine - why not share your own?
