// Colors
// ----------------------------------------
// Gold: #cca608

$body-border: #cca608
$bg-light: #fdfdfd
$h1-span: #cca608
$drip-widget-text: #333

$link-dark: #6b6661
$link-dark-hover: #979797
$link-light: #979797
$link-light-hover: #6b6661
$link-emphasis: #cca608

$caption: #979797
$project-header: #c7c7c7

$p-intro: #979797
$p-emphasis: #cca608

$ul-bullet: #cca608
$ul-text: #6b6661

$ol-number: #cca608
$ol-text: #6b6661

$quote: #cca608
$blockquote-border: #cca608

$button-text: #fff
$button-bg: #cca608
$button-bg-hover: #dbc052

$form-input-bg: #fff
$form-input-border: #c7c7c7
$form-input-focus-border: #6b6661
$form-input-error-border: #d0021b
$form-error-text: #979797

$header-nav-border: #6b6661
$header-nav-link-selected: #cca608

$footer-border: #6b6661
$footer-p: #979797

$article-text: #6b6661
$article-border: #6b6661
$article-date: #c7c7c7
$article-date-span: #cca608

$case-study-project-border: #bbb

$individual-case-study-h1-border: #d8d8d8
$individual-case-study-contact-bg: #6b6661
$individual-case-study-p: #fff
$individual-case-study-next-bg: #f8f8f8
$individual-case-study-next-img-border: #d8d8d8
$individual-case-study-project-border: #bbb
