// Colors
// ----------------------------------------
// Gold: #cca608

$body-border: #cca608
$h1-span: #cca608
$caption: #979797

$p-link: #979797
$p-intro: #979797
$p-intro-link: #6b6661
$p-emphasis: #cca608

$ul-bullet: #cca608
$ul-text: #6b6661

$quote: #cca608
$blockquote-border: #cca608

$header-nav-border: #6b6661
$header-nav-link: #6b6661
$header-nav-link-selected: #cca608

$footer-border: #6b6661
$footer-p: #979797
$footer-p-link: #6b6661

$article-text: #6b6661
$article-border: #6b6661
$article-date: #c7c7c7
$article-date-span: #cca608

$case-study-title: #c7c7c7
$case-study-link: #cca608
$case-study-border: #cca608
