// Colors
// ----------------------------------------
// Gold: #cca608

$body-border: #cca608

$h1-span: #cca608

$p-link: #979797
$p-intro: #979797
$p-intro-link: #6b6661
$p-emphasis: #cca608

$quote: #cca608
$blockquote-border-left: #cca608

$small-date: #c7c7c7
$small-date-span: #cca608

$header-nav-border: #6b6661
$header-nav-link: #6b6661

$footer-border-top: #6b6661
$footer-p: #979797
$footer-p-link: #6b6661
